// All of your custom SCSS variables go first
$primary: #1f4b69;
$secondary: #a8ecfa;
$light: #f1f1f1;
$dark: #000000;

//then bootstrap & bootstrap-vue should be added after
//so that they inherit the custom SCSS variables
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
@import 'utility.scss';

//all other custom scss files or css should be added here

body {
  // background-color: $secondary;
  // color: #303636;
}

.pricing-table {
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
}

.pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.pricing-table .block-heading h2 {
  color: $primary;
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table .item {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border-top: 2px solid $secondary;
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px;
}

.pricing-table .item button {
  font-weight: 600;
}

.pricing-table .ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
}

.pricing-table .item p {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

.pricing-table .features .feature {
  font-weight: 600;
}

.pricing-table .features h4 {
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.pricing-table .price h4 {
  margin: 15px 0;
  font-size: 28px;
  text-align: center;
  color: #b5ab2b;
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0;
}

.playwave {
  position: absolute;
  opacity: 0.8;
  top: 57%;
  right: 0%;
  z-index: 0;

  @include media-breakpoint-up(md) {
    position: fixed;
    right: -2%;
    top: 0;
  }
  @include media-breakpoint-up(lg) {
    right: 17%;
  }
}

.banner {
  .row {
    height: 70vh;

    @include media-breakpoint-up(md) {
      height: 76vh;
    }
  }
}
