.pd-large {
  padding-bottom: 50px;
  padding-top: 50px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
.pd-medium {
  padding-top: 50px;
  margin-bottom: 50px;
}
.pd-small {
  padding-top: 20px;
  margin-bottom: 20px;
}

.pb-large {
  padding-bottom: 100px;
  padding-top: 100px;
}
