<template>
  <section class="footer py-2">
    <div class="container">
      <div class="row">

        <!-- <b-col cols="12">
          <span class="text-white font-italic">Gambling is addictive, Play responsibly </span>
        </b-col> -->
        <b-col cols="5">
          <p class="small mt-1">Customer care: <b>0710 283 827</b></p>
        </b-col>
        <b-col cols="7">
          <p class="small mt-1 text-right">Copyright &copy; <i>Corp RBT</i>, All rights reserved</p>
        </b-col>
      </div>
    </div>
  </section>
</template>

<script>
export default {}
</script>

<style>
.footer {
  background-color: #b5ab2b;
}
</style>
