<template>
  <b-modal
    id="modal-1"
    ref="modal"
    centered
    size="lg"
    title="Fill In The Details"
    :hide-footer="true"
  >
    <b-alert
      variant="success"
      :show="formsuccess"
    >
      <p>We have received your request, Dont call us, we will call you. </p>
    </b-alert>
    <b-alert
      variant="danger"
      :show="formError"
    >
      <p>Something went wrong somewhere. </p>
    </b-alert>

    <b-form
      @submit="onSubmit"
      @reset="onReset"
      v-if="show && !formsuccess"
    >
      <b-row>
        <b-col>

          <b-row>
            <b-col>
              <b-form-group
                id="input-group-3"
                label="Package:"
                label-for="package"
              >
                <b-form-select
                  id="package"
                  v-model="form.package"
                  :options="packages"
                  required
                ></b-form-select>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                label="Phone Number:"
                label-for="phone"
              >
                <b-form-input
                  id="phone"
                  v-model="form.number"
                  placeholder="0721******"
                  required
                ></b-form-input>
              </b-form-group>
            </b-col>
          </b-row>
          <b-form-group
            id="desc"
            label="Bussines Description:"
            label-for="desc"
          >
            <b-form-textarea
              id="desc"
              v-model="form.desc"
              placeholder="Description..."
              rows="3"
              max-rows="6"
            ></b-form-textarea>
          </b-form-group>

          <b-form-group
            id="input-group-2"
            label="Bussines Location:"
            label-for="location"
          >
            <b-form-input
              id="location"
              v-model="form.location"
              required
              placeholder="Location"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-2"
            label="Name and Slogan:"
            label-for="slogan"
          >
            <b-form-input
              id="slogan"
              v-model="form.organization"
              required
              placeholder="Name and Slogan"
            ></b-form-input>
          </b-form-group>
          <b-form-checkbox
            id="checkbox-1"
            v-model="terms"
            name="checkbox-1"
            value="accepted"
            unchecked-value="not_accepted"
          >
            I accept the terms and use
          </b-form-checkbox>

        </b-col>
      </b-row>
      <b-row>
        <b-col class="text-right">
          <b-button
            variant="primary"
            type="submit"
            :disabled="loading"
          >
            <template v-if="loading">
              <b-spinner
                small
                variant="light"
                label="Spinning"
              ></b-spinner>
              Submiting..
            </template>
            <template v-else>
              Submit
            </template>

          </b-button>
          <b-button
            class="btn-dark"
            @click="$bvModal.hide('modal-1')"
          >Close</b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-modal>
</template>

<script>
export default {
  data() {
    return {
      form: {
        desc: '',
        location: '',
        organization: '',
        number: '',
        package: null
      },
      terms: 'not_accepted',
      packages: [
        { text: 'Select One', value: null },
        'bronze',
        'silver',
        'gold'
      ],
      loading: false,
      formsuccess: false,
      formError: false,
      show: true
    }
  },
  mounted() {
    this.$bus.$on('show-description', pack => {
      // this.showModal()
      this.form.package = pack
      this.$refs['modal'].show()
    }),
      this.$root.$on('bv::modal::hidden', (bvEvent, modalId) => {
        this.onReset()
      })
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
      this.loading = true
      this.formError = false
      this.handleRequest()
      // alert(JSON.stringify(this.form))
    },

    handleRequest() {
      let payload = {
        name: 'corpRBT client',
        phone: this.form.number,
        email: this.form.number,
        organization: this.form.organization,
        package: this.form.package,
        organization_address: this.form.location,
        customer_account: 75129,
        tickets: [
          {
            product_id: 18,
            product: 'corporate RBT',
            channel_id: 3,
            disposition_id: 1,
            disposition_name: 'service request',
            sub_disposition_id: null,
            sub_disposition_name: null,
            description: this.form.desc,
            reported_by: null,
            reported_by_name: null,
            priority_id: 6,
            type_id: 4,
            created_by: null,
            group_ids: 3
          }
        ]
      }

      this.$axios
        .$post('https://crm.staging.emalify.com/api/service-request', payload)
        .then(res => {
          this.loading = false
          this.formsuccess = true
          // this.$refs['modal'].hide()
        })
        .catch(error => {
          this.formError = true
          this.loading = false
          console.error('Error adding document: ', error)
        })
    },

    // async handleRequest() {
    //   try {
    //     await this.$fireStore.collection('corp_submision').add(this.form)
    //   } catch (error) {
    //     console.error('Error adding document: ', error)
    //   }
    // },
    onReset(evt) {
      // evt.preventDefault()
      // Reset our form values
      this.form.desc = ''
      this.form.location = ''
      this.form.slogan = ''
      this.form.number = ''
      this.form.package = null
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
        this.formsuccess = false
      })
    }
  }
}
</script>

<style>
</style>
