<template>
  <div class="page-wrapper">
    <section class="banner ">
      <b-container>
        <b-row>
          <b-col
            col
            md="6"
            class="pd-large"
          >
            <h3 class="font-weight-bolder">Bussiness Tunes (RBT)</h3>
            <p>Boost your Biz by advertising on skiza, Like this...</p>
            <no-ssr>
              <av-circle
                :canv-width="400"
                :canv-height="400"
                :outline-width="0"
                outline-color="#a8ecfa"
                :progress-width="5"
                :bar-length="150"
                :bar-color="['#F85F5A','#2376a5']"
                :radius="100"
                :audio-controls="true"
                canv-class="playwave"
                :outline-meter-space="5"
                :playtime="true"
                playtime-font="18px Monaco"
                audio-src="balozi.mp3"
              ></av-circle>
            </no-ssr>
            <b-button
              class="mt-3"
              v-scroll-to="'#pricing'"
              variant="outline-primary"
            >Get Your Own Skiza</b-button>
          </b-col>
          <b-col
            cols="12"
            md="6"
            class="d-none d-md-block"
          >
            <b-img
              class="banner-image"
              src="/lady2.png"
            ></b-img>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section class="pricing-table pb-5">
      <div
        class="container"
        id="pricing"
      >
        <div class="block-heading">
          <h2>Special RBT packages</h2>
          <p>Corporate
            RBT codes are given to the client after 72 hours.</p>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-5 col-lg-4">
            <div class="item">
              <div class="heading">
                <h3>BRONZE</h3>
              </div>
              <p>Plain Skiza tune.</p>
              <div class="features">
                <h4><span class="feature">Customized instrumental</span> : <span class="value">NO</span></h4>
                <h4><span class="feature">Script creation</span> : <span class="value">NO</span></h4>
                <h4><span class="feature">PABX
                    or phone upload</span> : <span class="value">Free</span></h4>
                <h4><span class="feature">Mixing & Mastering</span> : <span class="value">Charged</span></h4>
              </div>
              <div class="price">
                <h4>Ksh 1000</h4>
              </div>
              <button
                class="btn btn-block btn-outline-primary"
                type="submit"
                @click="showForm('bronze')"
              >BUY NOW</button>
            </div>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="item">
              <div class="ribbon">Best Value</div>
              <div class="heading">
                <h3>SILVER</h3>
              </div>
              <p>Fits most Businesses need.</p>
              <div class="features">
                <h4><span class="feature">Customized instrumental</span> : <span class="value">Yes</span></h4>
                <h4><span class="feature">Script creation</span> : <span class="value">No</span></h4>
                <h4><span class="feature">PABX
                    or phone upload</span> : <span class="value">Free</span></h4>
                <h4><span class="feature">Mixing & Mastering</span> : <span class="value">Charged</span></h4>
              </div>
              <div class="price">
                <h4>Ksh 5000</h4>
              </div>
              <button
                class="btn btn-block btn-primary"
                type="submit"
                @click="showForm('silver')"
              >BUY NOW</button>
            </div>
          </div>
          <div class="col-md-5 col-lg-4">
            <div class="item">
              <div class="heading">
                <h3>GOLD</h3>
              </div>
              <p>VIP service with everything included</p>
              <div class="features">
                <h4><span class="feature">Customized instrumental</span> : <span class="value">Yes</span></h4>
                <h4><span class="feature">Script creation</span> : <span class="value">Yes</span></h4>
                <h4><span class="feature">PABX
                    or phone upload</span> : <span class="value">Free</span></h4>
                <h4><span class="feature">Mixing & Mastering</span> : <span class="value">Free</span></h4>
              </div>
              <div class="price">
                <h4>Ksh 30,000</h4>
              </div>
              <button
                class="btn btn-block btn-outline-primary"
                type="submit"
                @click="showForm('gold')"
              >BUY NOW</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <request />
  </div>
</template>

<script>
import request from '~/components/request.vue'
export default {
  components: {
    request
  },
  data() {
    return {}
  },
  mounted() {
    console.log(this)
  },
  methods: {
    showForm(pack) {
      this.$bus.$emit('show-description', pack)
    }
  }
}
</script>

<style lang="scss">
.banner {
  background: #a8ecfa;
  color: #303636;
  z-index: 1;
  overflow: hidden;

  .banner-image {
    width: 400px;
    position: absolute;
    bottom: 0px;
  }
}
</style>
